<div class="event">
  <div class="content">
    <div class="summary">
      <!-- <em>Christian Rocha</em>: Test message -->
      <%= message.user.username %>: <%= message.body %>
    </div>
  </div>
</div>